<script>
    $(document).ready(function () {
        const testsGraph = {
            labels: {{ levels_list | safe }},
            datasets: [
                {
                    label: 'Enseignants',
                    data: {{ teachers_by_levels | safe }},
                    borderColor: '#228B22', // Vert forêt
                    backgroundColor: '#228B22',
                    fill: false,
                },
                {
                    label: 'Étudiants',
                    data: [5, 6, 7, 8, 9],
                    borderColor: '#7CFC00', // Vert gazon
                    backgroundColor: '#7CFC00',
                    fill: false,
                },
                {
                    label: 'Cours',
                    data: [2, 3, 4, 5, 10],
                    borderColor: '#006400', // Vert foncé
                    backgroundColor: '#006400',
                    fill: false,
                }
            ]
        };
    
        const options = {
            responsive: true,
            title: {
                display: true,
                text: "Comparaison du nombre d'enseignants, de cours et d'étudiants"
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };
    
        const ctx = document.getElementById('graph-viewer')?.getContext('2d');
        const myChart = ctx && new Chart(ctx, {
            type: 'bar',
            data: testsGraph,
            options: options
        });
    });
    </script>
    